<!--<div class="p-4">
  <h2 class="mb-4">{{ title }}</h2>-->

  <!-- Dashboard cards -->
  <!--<app-dashboard></app-dashboard>-->

  <!-- Cylinder Section -->
  <!--<app-cylinder-list></app-cylinder-list>-->

  <!-- Defect Report Section -->
  <!--<app-defect-report></app-defect-report>

</div>-->


<!--<app-navbar></app-navbar> --><!-- Contains topbar + sidebar -->

<!--<div class="main-content" (click)="closeSidebarOnOutsideClick()"><br><br><br>-->

 
  <!-- Routed views or your page content here -->
 <!--<div class="p-4">
    <h2 class="mb-4">{{ title }}</h2>-->

  <!-- Dashboard cards -->
    <!--<app-dashboard></app-dashboard>-->

  <!-- Cylinder Section -->
    <!--<app-cylinder-list></app-cylinder-list>-->

  <!-- Defect Report Section -->
    <!--<app-defect-report></app-defect-report>

  </div>


</div>-->

<router-outlet></router-outlet>








