.main-content {
  margin-left: 250px; /* width of sidebar */
 
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* sidebar will be overlayed on small screens */
  }
}
