<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Total Cylinders</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalCylinders }}</h5>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">Total Defects</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalDefects }}</h5>
          </div>
        </div>
      </div>
   </div>
</div>



  